REACT_APP_BACKEND_URL=https://smartgiaoan.onrender.com
REACT_APP_GOOGLE_CLIENT_ID=764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com
REACT_APP_PAYPAL_CLIENT_ID=AVFet6oHbnQhEOBEwkkqB2qW2O9Z58xu8Gj7q46_-uKdvxsvzzWw4eRlBrEQKJ6-5Chqyn9flLGGnkJJ
REACT_APP_PAYPAL_PREMIUM_PLAN_ID=P-53940113VL329025BNH7A3UQ
REACT_APP_PAYPAL_PRO_PLAN_ID=P-40482060EU873762GNH7A6YI
